/*#region ===== BODY ================ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html body {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: var(--csbg);
}
body::after {
  content: "";
  position: fixed;
  right: 1rem;
  width: 600px;
  height: 100%;
  background: url("../images/chain.png") repeat-y right;
  top: auto;
  pointer-events: none; 
  z-index: -1; 
  filter: invert(8%) sepia(24%) saturate(4649%) hue-rotate(343deg) brightness(95%) contrast(114%);
}
.active::before {
  content: "\2B24"; 
  color: var(--cshl);
  font-size: inherit;
  margin-right: 0.5rem;
}
.container-fluid {
  width: 100%;;
}
.container { 
  flex: 1;
}
a {
  color: inherit;
  text-decoration: none;
}

/*#endregion*/
/*#region ===== CAROUSEL ============ */

.glide__slide {
  position: relative;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.glide__slide img {
  width: 100%;
  height: 100%;
}
.overlay-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.glide__arrows { /*mod*/
  position: absolute !important;
  top: 30px!important;
  display: flex;
  justify-content: space-between;
  width: 100%; 
}
.glide__arrow--left { /*mod*/
	position: relative;
	left: 10px;
}
.glide__arrow--right { /*mod*/
	position: relative;
	right: 10px;
}
.glide {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}

/*#endregion*/
/*#region ===== COLOR =============== */

:root {
  --cp00: #004372;  /* var(--cp00)     Primary 100%   */
  --cp10: #e8f5ff;  /* var(--cp10)     Primary 10%    */
  --cp50: #0274e0;  /* var(--cp50)     Primary 50%    */
  --cplx: #ffd4db;  /* var(--cplx)     Parallax       */
  --cpcn: #2D0000;  /* var(--cpcn)     Chain          */
  --cshl: #ffff00;  /* var(--cshl)     Highlight      */
  --csbg: #000000;  /* var(--csbg)     Background      */
}
/* Color Elements */btn btn-success
.btn-primary, .btn-success {
  background-color: var(--cp00) !important;
  border: none;
}
.btn-primary:hover, .btn-success:hover {
  background-color: var(--cp50) !important;
}

/*#endregion*/
/*#region ===== FONTS =============== */

body {
  color: white; 
}
@font-face {
  font-family: "Alfa Slab One", serif;
  src: url('/resources/fonts/AlfaSlabOne-Regular.ttf') format("truetype");
}
h1 {
  font-family: "Alfa Slab One", serif; 
  color: white;
  margin-top: 125px;
  margin-bottom: 1rem;
  padding: 0;
  font-size: 4rem;
  text-align: center;
  text-shadow: var(--cpcn) 1px 1px 5px;
}
h2 {
  font-family: "Aachen", serif; 
  color: white;
  margin: 0;
  padding: 0;
  font-size: 4rem;
  margin-top: 275px;  
  text-align: center;
}
.navbar-brand > img {
  display: flex;
  align-items: center;
  width: 250px;
  height: auto;
  margin-left: 20px;
  position: relative;
}
.dog {
  font-family: "Aachen"; 
  color: black;
  font-size: 4rem;
  text-align: center;
  transform: scaleX(2.85);
  transform-origin: center center;  
  margin-bottom: -50%;
  letter-spacing: -1rem;
  -webkit-text-stroke: 1px white;
}
/*#endregion*/
/*#region ===== FOOTER ============== */

footer {
  position: absolute;
  bottom: 0;
  padding: 3px 10px 5px 10px;
  background-color: var(--cpcn);
  font-size: .75rem;
  color:#fff;
  width: 100%;
}
.footer-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between;
}
.footer a {
  text-decoration: none;
  color:#fff; 
  font-weight: bold;
}
.footer a:hover {
  color: var(--ca02); 
}

/*#endregion*/
/*#region ===== NAVBAR ============== */

.navbar { 
  background-color: var(--cpcn) !important;
}
/* Navbar Hide on Scroll */
#navbar.container { 
  position: sticky; 
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  transition: transform 1s ease, opacity 1s ease; 
}
#navbar.scrolled { 
  transform: translateY(-100%);
  opacity: 0;
}


/*#endregion*/
/*#region ===== PHOTOBOX ============ */

/* Parent container */
.photobox-container {
  width: 100%; 
}
.photobox {
  position: relative;
  display: block;
  text-align: center;
/*  vertical-align: middle; VSCode doesn't like this */
  margin: 0;
  height: auto;
  width: auto;
  background-color: var(--cp10);
  border: 2px solid var(--cp00) !important;
  pointer-events: all;
}
.photobox p {
  align-content: center;
}
.link-box {
	align-items: center;
	display: flex; 
	justify-content: space-between;
	margin-top: .75rem;
  width: 100%;
}
.link-box input[type="text"] {
	flex: 1;
  flex-shrink: 1;
  min-width: 0;
}
.link-vid {
	align-items: center;
	display: flex; 
	justify-content: space-between;
	margin-top: .75rem;
	margin-bottom: .75rem;
  width: 100%;
}
.link-vid input[type="text"] {
	flex: 1;
  flex-shrink: 1;
  min-width: 0;
}
.browse-box {
	align-items: center;
	display: flex; 
	justify-content: space-between;
	margin-top: .4rem;
	margin-bottom: .5rem;
  width: 100%;
}
.browse-box input[type="text"] {
	flex: 1;
  flex-shrink: 1;
  min-width: 0;
}
.caption-box input[type="text"] {
  margin-top: .5rem;
	margin-bottom: .75rem !important;
  width: 100%;
} 
.ratio-16x9 {
	background-color: var(--cp10);
	border: 2px solid var(--cp00);
	overflow: hidden;
}

/*#endregion*/
/*#region ===== SITEMAP ============= */

.sitemap ul {
  list-style-type: disc;
  margin-left: -10px;
}
.sitemap a {
  text-decoration: none;
  color: inherit;
}
.sitemap a:hover {
  color: var(--ca01);
  font-weight: bold;
}
/*#endregion*/
/*#region ===== VIEWPORT ============ */


#viewport-size {
  display: block; /* change from block to none to hide */
  position: fixed;
  background: #fff;
  color: black;
  padding: 4px 4px;
  border-radius: 4px;
  font-family: Arial, sans-serif;
  line-height: .75rem;
  font-size: 0.75rem;
  z-index: 5;
  top: 100px; 
  right: 20px;
} 

/*#endregion*/

/*#region ===== SIGNATURE =========== *//*

\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/\/
 ___         _   _   
/ __| __ ___| |_| |_ 
\__ \/ _/ _ \  _|  _|
|___/\__\___/\__|\__|
 _  _                                 _ 
| || |__ _ _  _ __ _ __ _ __ _ _ _ __| |
| __ / _` | || / _` / _` / _` | '_/ _` |
|_||_\__,_|\_,_\__, \__,_\__,_|_| \__,_|
               |___/

ScottHaugaard@hotmail.com - 760/456.9091

/\//\/\/\/\/\/\/\/\/\/\//\/\/\/\/\/\//\/\

*//*#endregion*/