* {
    margin: 0;
    padding: 0;
	box-sizing: border-box;
  }
  
body {
  background-image: url("/resources/images/circuit-board.jpg");
  background-size: 50px 50px;
  background-repeat: repeat;
  background-position: center;
  background-attachment: fixed;
}
body {
  background-image: url("circuit-board.jpg");
  background-size: 50px 50px;
  background-repeat: repeat;
}